<html>
  <head>
    <title>Workspace Password Reset</title>
    <style>
      @import url('https://rsms.me/inter/inter.css');
      .container {
        font-family: 'Inter', sans-serif; 
        max-width: 600px;
        padding: 32px 64px;
        padding-bottom: 0;
        margin: auto;
      }
      .heading img {
        width: 10em;
        box-sizing: border-box;
      }
      .content h1 {
        font-size: 20px;
        font-weight: 700;
        color: #333;
      }
      .content p {
        margin-top: 12px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="heading">
        <img src="http://cdn.mcauto-images-production.sendgrid.net/33a5b518274582dc/02902907-42c6-43b2-ada8-d36eebde562a/2818x450.png">
      </div>
      <div class="content">
        <h3>Reset your password.</h3>
        <p>To reset your password, <a href="https://workspace.com/reset?token={{.Token}}">click here</a>.</p>
        <p style="color: #aaaaaa">If you did not request a password reset, just ignore this email.</p>
      </div>
    </div>
  </body>
</html>